.vhBox{width: 100vws; height: auto;
    #wrap {width: 100vw; height: 100vh; margin: 0 auto; background-image: url(../img/indexImg4.png); background-size: cover; background-repeat: no-repeat; background-position: center;
        #headBox {width: 100%; height: 312px; padding-top: 140px; border: 1px solid #ccc; box-sizing: border-box; margin-bottom: 7rem;
            h1 {width: 120px; height: 120px; background-image: url(../img/cl_03.png); background-size: 100% 100%; background-repeat: no-repeat; margin: 0 auto; position: relative;}
            p{width: 152px; height: 26px; color: #eee; font-size: 1.7rem; text-align: center; position: absolute; top: 7.5rem; left: -1.1rem; }
        }// #headBox

        #menuBtn{width: 100%; height: 400px;
            ul {width: 200px; height: 100%; margin: 0 auto;
                li {width: 100%; height: 30%; line-height: 40px;  float: left; text-align: center;
                    &:nth-child(1){}
                    &:nth-child(2){}
                    &:nth-child(3){}         
                    a {width: 100%; height: 100%;  font-size: 1.7em; text-align: center; color: #fff;  line-height: 1rem;
                    &:hover{text-decoration: underline;
                        }
                    }
                }
            }
        }// #menuBtn

        #footBox{width: 100%; height: calc(100px - 30px); padding-top: 30px; background-color: #a89; margin: 0 auto;
            p{width: 100%; height: 40px; color: #444; display: block; }
        }
    }// #wrap
}