// all_cosecos.scss

//*{transition: all 0.3s ease-in-out;}

/*html, body{width: 100%; height: 100%;}
#wrap {width: 100%; height: 100%;}
    #headBox {width: 100%; height: 10rem 160px; }
    
    #banner {width: 978px; height: 25rem; margin: 0 auto;  background-color: $sub2;}

    #content {width: 100%; height: 59.5rem; margin: 0 auto;  background-color: $sub1;}

    #footBox {width: 100%; height: 7.125rem;background-color: $black;}*/