// 4. mob_h_cosecos.scss

@media screen and (min-width:361px) and(max-width:640px){
    #wrap {width: 100%; height: 100%;}
    
        #headBox {width: 100%; height: 60px; margin-bottom: 20px; padding: 16px 16px 0 12px; border-bottom: 1px solid $ggg; box-sizing: border-box;
            >.sitemap{display: none;}
            
            >.h_menu{width: 100%; height: 100%;
                
                >h1{/*float: left;*/
                    
                    >a{width: 128px; height: 26px;  background-image: url(../img/index_slice/header/h_logo.gif); background-size: contain; background-repeat: no-repeat; background-position: center; float: left;}
                }// h1
                
                >.nav_2{width: 100%; height: 100%; 
                    i{width: 26px; height: 26px; /*margin-right: 24px;*/ float: right; font-size: 1.7em; text-align: center; cursor: pointer; color: $ggg;}
                    li{display: none;}
                }// .nav_2
                >.gnb{display: none;}
                
            }// .h_menu
        }// #headBox
    
        #banner {width: 100%; height: 42.5vw/*153/360*100*/; margin-bottom: 20px; background-image: url(../img/banner_mob.jpg); background-size: cover; background-repeat: no-repeat;}
    
        #content {width: 100%; height: 489vw/*1810px/361*100*/; 
            .new_B {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/; margin: 0 auto;
                .nBhover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/new_01_big.PNG); background-size: 35%; background-position: 50%; background-position-x: 14%; background-repeat: no-repeat; position: relative; margin-bottom: 6px; 
                }
                p {position: absolute;
                &:nth-child(1){left: 55%; top: 8%; font-size: 6vw; color: $ggg; text-align: center; font-weight:500; }
                    &:nth-child(2){left: 64%; top: 36%; font-size: 4vw; text-align: center; line-height: 8vw;}    
                }// p                
            }
            .new_S {width: 94.736842vw/*342px/361*100*/; height: auto; margin: 0 auto;
                .new_S_01 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/; 
                }
                .nS01hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/new_02.PNG); background-size: 22%; background-position: 50%; background-position-x: 22%; background-repeat: no-repeat; position: relative; margin-bottom: 6px; 
                    p {position: absolute; left: 56%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
                .new_S_02 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/;
                }
                .nS02hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/new_03.PNG); background-size: 40%; background-position: 50%; background-position-x: 12%;  background-position-y: 60%;background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 61%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
                .new_S_03 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/;
                }
                .nS03hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/new_04.PNG); background-size: 22%; background-position: 50%; background-position-x: 24%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 58%; top: 18%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
                .new_S_04 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/;
                }
                .nS04hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/new_05.PNG); background-size: 16%; background-position: 50%; background-position-x: 24%; background-repeat: no-repeat; position: relative; margin-bottom: 20px;
                    p {position: absolute; left: 54%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
            }
            .best_S1 {display: none;                
            }
            .best_B {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/; margin: 0 auto;
                .bBhover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/best_03_big.PNG); background-size: 18%; background-position: 50%; background-position-x: 25%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                }
                p {position: absolute;
                &:nth-child(1){left: 56%; top: 8%; font-size: 6vw; color: $ggg; text-align: center; font-weight:500; }
                    &:nth-child(2){left: 58%; top: 36%; font-size: 4vw; text-align: center; line-height: 8vw;}    
                }// p                
            }
            .mobUse {width: 94.736842vw/*342px/361*100*/; height: auto; margin: 0 auto;
                .mobUse_1 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/best_01.PNG); background-size: 42%; background-position: 50%; background-position-x: 12%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 67%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
                .mobUse_2 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/best_02.PNG); background-size: 38%; background-position: 50%; background-position-x: 14%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 57%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
            }
            .best_S2 {width: 94.736842vw/*342px/361*100*/; height: auto; margin: 0 auto;
                .best_S2_01 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/;
                }
                .bS2_01hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/best_04.PNG); background-size: 25%; background-position: 50%; background-position-x: 21%; background-position-y: 100%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 56%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
                .best_S2_02 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/;
                }
                .bS2_02hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/best_05.PNG); background-size: 40%; background-position: 50%; background-position-x: 14%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 60%; top: 18%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
            }
    
    }// #content
    
        #footBox {width: 100%; height: 230px; margin-top: 80px; background-color: #f05;}
    
}// @mob_h