// 4. mob_h_cosecos.scss

@media screen and (min-width:361px) and(max-width:640px){
    #wrap {width: 100%; height: 100%;
        
        #topAdd{width: auto; height: 6rem; background-color: #eee; padding: 1rem 0.9rem; position: relative; 
            p{width: 93%; height: auto; line-height: 1.5rem; color: #333; font-size: 1.1rem; margin-bottom: 0.5rem;}            
            .addbox{width: auto; height: auto; float: left;
                a{color: #555; font-size: 0.9rem;
                    &:hover{text-decoration: underline;}
                }
            }        
            button{width: 2rem; height: 2rem; background-image: url(../img/close.png); background-repeat: no-repeat;  background-size: cover; float: right; color: #333;  font-size: 2rem; position: absolute; top: 40%; right: 1%;}
        }// #topAdd
    
        #headBox {width: 100%; height: 60px; margin-bottom: 20px; padding: 16px 16px 0 12px; border-bottom: 1px solid $ggg; box-sizing: border-box;
            >.sitemap{display: none;} // pc에서씀
            
            >.h_menu{width: 100%; height: 100%;
                
                >h1{/*float: left;*/
                    
                    >a{width: 128px; height: 26px;  background-image: url(../img/index_slice/header/h_logo.gif); background-size: contain; background-repeat: no-repeat; background-position: center; float: left;}
                }// h1
                
                >.nav_2{width: 100%; height: 100%; 
                    i{width: 26px; height: 26px; /*margin-right: 24px;*/ float: right; font-size: 1.7em; text-align: center; cursor: pointer; color: $ggg;}
                        .miniMBox {display: none;} //클릭시 보여야됨
                }// .nav_2
                >.gnb{display: none;} // pc에서씀
                
            }// .h_menu
        }// #headBox
    
        #banner {width: 100%; height: 42.5vw/*153/360*100*/; margin-bottom: 20px; background-image: url(../img/banner_mob.jpg); background-size: cover; background-repeat: no-repeat;}
    
        #content {width: 100%; height: 492vw; 
            
            .new_B {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/; margin: 0 auto;
                .nBhover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/new_01_big.PNG); background-size: 35%; background-position: 50%; background-position-x: 14%; background-repeat: no-repeat; position: relative; margin-bottom: 6px; 
                }
                p {position: absolute;
                &:nth-child(1){left: 55%; top: 8%; font-size: 6vw; color: $ggg; text-align: center; font-weight:500; }
                    &:nth-child(2){left: 64%; top: 36%; font-size: 4vw; text-align: center; line-height: 8vw;}    
                }// p                
            }
            .new_S {width: 94.736842vw/*342px/361*100*/; height: auto; margin: 0 auto;
                .new_S_01 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/; 
                }
                .nS01hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/new_02.PNG); background-size: 22%; background-position: 50%; background-position-x: 22%; background-repeat: no-repeat; position: relative; margin-bottom: 6px; 
                    p {position: absolute; left: 56%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
                .new_S_02 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/;
                }
                .nS02hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/new_03.PNG); background-size: 40%; background-position: 50%; background-position-x: 12%;  background-position-y: 60%;background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 61%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
                .new_S_03 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/;
                }
                .nS03hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/new_04.PNG); background-size: 22%; background-position: 50%; background-position-x: 24%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 58%; top: 18%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
                .new_S_04 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/;
                }
                .nS04hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/new_05.PNG); background-size: 16%; background-position: 50%; background-position-x: 24%; background-repeat: no-repeat; position: relative; margin-bottom: 20px;
                    p {position: absolute; left: 54%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
            }
            .best_S1 {display: none;                
            }
            .best_B {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/; margin: 0 auto;
                .bBhover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/best_03_big.PNG); background-size: 18%; background-position: 50%; background-position-x: 25%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                }
                p {position: absolute;
                &:nth-child(1){left: 56%; top: 8%; font-size: 6vw; color: $ggg; text-align: center; font-weight:500; }
                    &:nth-child(2){left: 58%; top: 36%; font-size: 4vw; text-align: center; line-height: 8vw;}    
                }// p                
            }
            .mobUse {width: 94.736842vw/*342px/361*100*/; height: auto; margin: 0 auto;
                .mobUse_1 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/best_01.PNG); background-size: 42%; background-position: 50%; background-position-x: 12%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 67%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
                .mobUse_2 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/best_02.PNG); background-size: 38%; background-position: 50%; background-position-x: 14%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 57%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
            }
            .best_S2 {width: 94.736842vw/*342px/361*100*/; height: auto; margin: 0 auto;
                .best_S2_01 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/;
                }
                .bS2_01hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/best_04.PNG); background-size: 25%; background-position: 50%; background-position-x: 21%; background-position-y: 100%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 56%; top: 26%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
                .best_S2_02 {width: 94.736842vw/*342px/361*100*/; height: 47.368421vw/*171px/361*100*/;
                }
                .bS2_02hover {width: 100%; height: 100%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/best_05.PNG); background-size: 40%; background-position: 50%; background-position-x: 14%; background-repeat: no-repeat; position: relative; margin-bottom: 6px;
                    p {position: absolute; left: 60%; top: 18%; font-size: 4vw; text-align: center; line-height: 8vw;
                    }                    
                }
            }   
        }// #content
    
        #board {width: 100%; height: auto; margin-top: 100px;
            .noticeBox {width: 100%; height: 200px;
                h2 {width: 80vw; height: 28px; margin: 0 auto; border-bottom: 1px solid #ccc; color: $ggg; font-size: 1.2em; font-weight: 500;}
                ul {width: 80vw; height: auto; margin: 0 auto; margin-top: 14px;
                    li {width: 100%; height: 22px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
                        a {width: 100%; height: 100%; font-size: 1em; color: #333;      
                            &:active{text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .qnaBox {width: 100%; height: 200px; 
                h2 {width: 80vw; height: 28px; margin: 0 auto; border-bottom: 1px solid #ccc; color: $ggg; font-size: 1.2em; font-weight: 500;}
                ul {width: 80vw; height: auto; margin: 0 auto; margin-top: 14px;      
                    li {width: 100%; height: 22px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
                        a {width: 100%; height: 100%; font-size: 1em; color: #333;
                            &:active{text-decoration: underline;
                            }
                        }
                    }
                }
            }       
        }// #board
        
        #topBtn{width: 2.3rem; height: 1.4rem; border-radius: 0.1rem; z-index: 500; position: fixed; bottom: 3%; right: 5%; /*margin-right: -7rem;*/ cursor: pointer; background-image: url(../img/topBtnS.png); background-repeat: no-repeat; background-size: contain;  background-color: rgba(0,0,0,0.2);
            &:active{background-image: url(../img/topBtnS_allG.png); background-repeat: no-repeat; background-size: contain;}
        }// #topBtn
    
        #footBox {width: 100%; height: auto; margin-top: 50px; background-color: #ccc; padding-top: 50px;
            
            h2 {width: 70vw; height: 44px;  margin: 0 auto;
                a{width: 100%; height: 100%; font-size: 1.5em; font-weight: bold; color: #777;
                    &:active{color: #333;}
                }
            }                            
            .addBox {width: 100%; height: auto;
                ul {width: 70vw; height: 180px; margin: 0 auto;
                    li {width: 70vw; height: 30px;  
                        a {width: 100%; height: 100%; color: #fff;
                            &:active{ text-decoration: underline;
                            }
                        }
                    }
                }
            }// .addBox
            address {display: none;
                p {
                    &:nth-child(1){}
                    &:nth-child(2){border-top: 1px solid #ccc; padding-top: 8px;}
                }
            }
            .foot_img {display: none;}  
        }// #footBox
    }// #wrap
}// @mob_h