@import "./src/pc/pc_head";
@import "./src/pc/pc_banner";
@import "./src/pc/pc_content";
@import "./src/pc/pc_board";
@import "./src/pc/pc_foot";

// 1. pc_cosecos.scss

@media screen and (min-width:978px) {
    #wrap {width: 100%; height: 100%;
    //.nav_2{display: none !important;}
        
        .center_box {width: 100%; height: 100%;  background-color: #eee;
            #topAdd{width: 978px; height: 3.5rem;  padding: 1.5rem 0.7rem; position: relative; margin: 0 auto;
                p{width: 95%; height: auto; line-height: 1.7rem; color: #333; font-size: 1.1rem; margin-bottom: 0.5rem;}            
                .addbox{width: auto; height: auto; float: left; 
                    a{color: #555; font-size: 0.9rem;
                        &:hover{text-decoration: underline;}
                    }
                }        
                button{width: 2rem; height: 2rem; background-image: url(../img/close.png); background-repeat: no-repeat;  background-size: cover; float: right; color: #333;  font-size: 2rem; position: absolute; top: 36%; right: 7%;}
            }// #topAdd
        }// .center_box
        
        #topBtn{width: 70px; height: 200px; border-radius: 0.1rem; z-index: 500; position: fixed; bottom: 45%; right: 50%; margin-right: -35rem; cursor: pointer; background-image: url(../img/pc_top.png); background-repeat: no-repeat; background-size: contain;  background-color: rgba(0,0,0,0.2);
            &:active{}
        }// #topBtn
        
    }// #wrap
}// @pc