@import "./lib/base_cosecos";

/*sub_new.scss*/

#new {width: 60rem; height: 64rem; margin: 0 auto; margin-top: 1rem;
    .search {width: 13rem; height: auto; margin-left: 45rem; padding-top: 1rem;        
        #searchBox {width: 8rem; height: 1.5rem; border-bottom: 1px solid #333; float: left; margin-right: 1rem; text-indent: 0.3rem; 
        }
        button {width: 4rem; height: 1.5rem; background-color: #fff; border: 1px solid #333; box-sizing: border-box; float: left;
        }        
    }
    
    h2 {width: 95%; height: auto; margin: 0.8rem; font-size: 2rem; color: #333;
    }
    .category {width: 9.5rem; height: 30px; float: right; margin-top: 1rem; 
        li {height: 12px; float: left; border-right: 1px solid #333; padding: 0 10px; 
            &:nth-child(1) {width: 40px;}
            &:nth-child(2) {width: 54px; border-right: 0;}
            /*&:nth-child(3) {width: 90px; }*/
        }
        a {width: 100%; height: auto; float: left; text-align: center; line-height: 10px; color: #333;
            &:hover{text-decoration: underline;
            }
        }
    }
    .pd {width: 100%; height: auto; float: left; margin-bottom: 2rem;
        ul {width: 100%; height: auto; margin-top: 3rem;
        }
        li {width: 25%; height: 16rem; border: 1px solid #ccc; box-sizing: border-box; float: left; background-image: url(../img/pro_cosme.PNG); background-repeat: no-repeat; background-position: center;  background-position-y: 20%; background-size: 45%; position: relative;
        }
        p {position: absolute; top: 80%; left: 8%;
            &:hover{
            }
        }
    }
    
    .pager {width: 10rem; height: 1.5rem;  float: left; padding-left: 50rem;
        i {font-size: 1.2rem; color: #999; margin-right: 0.3rem;
            &:hover{text-decoration: underline; cursor: pointer; color: #333;
            }
        }
        a {font-size: 1rem; color: #999; margin-right: 0.3rem;
            &:hover{text-decoration: underline;  color: #333;
            }
        }
    }

}// #new