@import "./lib/base_cosecos";

/*subJoin_1.scss*/

.join_1Box {width: 100%; height: 55rem; margin-top: 1rem;}
#join_1 {width: 55rem; height: 52rem; margin: 0 auto; box-shadow: 1px 1px 5px rgba(0,0,0,0.5);}

    .category {width: 10rem; height: 30px; float: right; margin-top: 1rem; 
        li {height: 12px; float: left; border-right: 1px solid #333; padding: 0 10px; 
            &:nth-child(1) {width: 40px;}
            &:nth-child(2) {width: 74px; border-right: 0;}
            /*&:nth-child(3) {width: 90px; }*/
        }
        a {width: 100%; height: auto; float: left; text-align: center; line-height: 10px; color: #333;
            &:hover{text-decoration: underline;
            }
        }
    }
    h2 {width: 93%; height: auto; margin: 2rem; font-size: 2rem; color: #333; border-bottom: 1px solid #ccc;}


.sub_join_2{width: 720px; height: 640px; margin: 5px auto; }
#formBox{width: 824px;height: 720px; margin-top: 2rem;/*margin-left: 50px;*/ }
#formBox>form>fieldset>legend{width: 0;height: 0;display: block;overflow: hidden;}
#formBox>form>fieldset>ul{width: 100%;height: 40px;}
#formBox>form>fieldset>ul>li{height: 100%;float: left;margin-right: 18px;}

.join_mail_yes_wrap{width: 754px;height: 50px;margin-bottom: 40px;}
.join_mail_yes_wrap>input{margin-right: 8px;}
.join_mail_yes_wrap>label,.join_mail_yes_wrap>p{line-height: 18px;color: #333;font-size: 1rem;}
#formBox>form>fieldset>ul>li{height: auto;}
#formBox>form>fieldset>ul>li:nth-child(3)>ul>li,#formBox>form>fieldset>ul>li:nth-child(4)>ul>li{float: left;margin-right: 10px;}

#formBox>form>fieldset>ul>li:nth-child(3)>textarea{width: 720px;height: 160px;background-color: #f1f1f1;margin-top: 20px;margin-bottom: 20px; }
#formBox>form>fieldset>ul>li:nth-child(4)>textarea{width: 720px;height: 160px;background-color: #f1f1f1;margin-top: 20px;margin-bottom: 20px;}





.form_join_btn{ margin-left: 160px;}
.form_join_btn>button{width: 140px;height: 40px; margin-top: 0.4rem; cursor: pointer; box-shadow: 1px 1px 5px rgba(0,0,0,0.5);}
.form_join_btn>button:nth-child(1) {background-color: #333; margin-right:110px;}
.form_join_btn>button:nth-child(2) {border: 1px solid #333; box-sizing: border-box; background-color: #fff;}
.form_join_btn>button:nth-child(1)>a {color: #fff;}
.form_join_btn>button:nth-child(2)>a {color: #333;}