/* ind_cosecos.css */

#wrap {width: 978px; height: auto;}
#wrap>div{margin: 0 auto;}
#wrap #header { height: 160px; background-color: #f9f;}
#wrap #banner { height: 400px; background-color: #d9f;}
#wrap #container {height: 952px; background-color: #ef9;}
#wrap #footer {height: 128px; background-color: #fa8;}