/*sub_brand.scss*/
#brand {
  width: 60rem;
  height: 72rem;
  margin: 0 auto;
  margin-top: 1rem; }
  #brand .search {
    width: 13rem;
    height: auto;
    margin-left: 45rem;
    padding-top: 1rem; }
    #brand .search #searchBox {
      width: 8rem;
      height: 1.5rem;
      border-bottom: 1px solid #333;
      float: left;
      margin-right: 1rem;
      text-indent: 0.3rem; }
    #brand .search button {
      width: 4rem;
      height: 1.5rem;
      background-color: #fff;
      border: 1px solid #333;
      box-sizing: border-box;
      float: left; }
  #brand h2 {
    width: 98%;
    height: auto;
    margin: 0.8rem;
    font-size: 2rem;
    color: #333;
    border-bottom: 1px solid #ccc; }
  #brand .category {
    width: 9.5rem;
    height: 30px;
    float: right;
    margin-top: 1rem; }
    #brand .category li {
      height: 12px;
      float: left;
      border-right: 1px solid #333;
      padding: 0 10px; }
      #brand .category li:nth-child(1) {
        width: 40px; }
      #brand .category li:nth-child(2) {
        width: 40px;
        border-right: 0; }
    #brand .category a {
      width: 100%;
      height: auto;
      float: left;
      text-align: center;
      line-height: 10px;
      color: #333; }
      #brand .category a:hover {
        text-decoration: underline; }
  #brand .b_cBox {
    width: 50rem;
    height: 4rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding-left: 1.5rem; }
    #brand .b_cBox .br_category {
      width: 100%;
      height: 5rem;
      float: left; }
      #brand .b_cBox .br_category li {
        width: 5rem;
        height: 2rem;
        float: left;
        border: 1px solid #ddd;
        box-sizing: border-box;
        text-align: center;
        line-height: 2rem; }
        #brand .b_cBox .br_category li:hover {
          text-decoration: underline; }
        #brand .b_cBox .br_category li a {
          color: #333; }
  #brand .pd {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 2rem; }
    #brand .pd ul {
      width: 100%;
      height: auto;
      margin-top: 3rem; }
    #brand .pd li {
      width: 25%;
      height: 16rem;
      border: 1px solid #ccc;
      box-sizing: border-box;
      float: left;
      background-image: url(../img/pro_cosme.PNG);
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 20%;
      background-size: 45%;
      position: relative; }
    #brand .pd p {
      position: absolute;
      top: 80%;
      left: 8%; }
  #brand .pager {
    width: 10rem;
    height: 1.5rem;
    float: left;
    padding-left: 50rem; }
    #brand .pager i {
      font-size: 1.2rem;
      color: #999;
      margin-right: 0.3rem; }
      #brand .pager i:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #333; }
    #brand .pager a {
      font-size: 1rem;
      color: #999;
      margin-right: 0.3rem; }
      #brand .pager a:hover {
        text-decoration: underline;
        color: #333; }

/*# sourceMappingURL=sub_brand.css.map */
