/*subJoin_2.scss*/
.joinBox {
  width: 100%;
  height: 69rem; }
  .joinBox #join {
    width: 55rem;
    height: auto;
    margin: 0 auto;
    margin-top: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
    .joinBox #join .category {
      width: 13rem;
      height: 30px;
      float: right;
      margin-top: 1rem; }
      .joinBox #join .category li {
        height: 12px;
        float: left;
        border-right: 1px solid #333;
        padding: 0 10px; }
        .joinBox #join .category li:nth-child(1) {
          width: 40px; }
        .joinBox #join .category li:nth-child(2) {
          width: 74px; }
        .joinBox #join .category li:nth-child(3) {
          width: 26px;
          border-right: 0; }
      .joinBox #join .category a {
        width: 100%;
        height: auto;
        float: left;
        text-align: center;
        line-height: 10px;
        color: #333; }
        .joinBox #join .category a:hover {
          text-decoration: underline; }
    .joinBox #join h2 {
      width: 93%;
      height: auto;
      margin: 2rem;
      font-size: 2rem;
      color: #333;
      border-bottom: 1px solid #ccc; }
    .joinBox #join .register {
      width: 95%;
      height: 6rem;
      border-bottom: 1px solid #ccc;
      margin: 0 auto;
      line-height: 6.5rem;
      font-size: 1.2rem;
      color: #333;
      padding: 2rem 0 0 2rem; }
    .joinBox #join form {
      width: 100%;
      height: auto; }
    .joinBox #join .set01 {
      width: calc(100% - 2rem);
      height: auto;
      padding: 2rem 0 0 2rem; }
    .joinBox #join .join_1 {
      width: 100%;
      height: 6rem; }
      .joinBox #join .join_1 dt {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.5rem; }
      .joinBox #join .join_1 span {
        display: none; }
      .joinBox #join .join_1 dd {
        width: 100%;
        height: auto; }
      .joinBox #join .join_1 input {
        width: 210px;
        height: 30px;
        border: 1px solid #B6914D;
        float: left;
        box-sizing: border-box;
        text-indent: 0.3rem;
        margin-left: 4px; }
      .joinBox #join .join_1 button {
        width: 100px;
        height: 30px;
        cursor: pointer;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        border: 1px solid #333;
        box-sizing: border-box;
        background-color: #fff;
        margin-left: 2rem; }
    .joinBox #join .join_2 {
      width: 100%;
      height: 6rem; }
      .joinBox #join .join_2 dt {
        width: 30%;
        height: auto;
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.5rem; }
      .joinBox #join .join_2 span {
        display: none; }
      .joinBox #join .join_2 dd {
        width: 100%;
        height: auto; }
        .joinBox #join .join_2 dd input {
          width: 210px;
          height: 30px;
          border: 1px solid #B6914D;
          float: left;
          box-sizing: border-box;
          margin-right: 1rem;
          text-indent: 0.3rem;
          margin-left: 4px; }
        .joinBox #join .join_2 dd p {
          font-size: 0.9rem;
          display: block;
          float: left;
          line-height: 2rem; }
    .joinBox #join .join_3 {
      width: 100%;
      height: 6rem; }
      .joinBox #join .join_3 dt {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.5rem; }
      .joinBox #join .join_3 span {
        display: none; }
      .joinBox #join .join_3 dd {
        width: 100%;
        height: auto; }
      .joinBox #join .join_3 input {
        width: 210px;
        height: 30px;
        border: 1px solid #B6914D;
        float: left;
        box-sizing: border-box;
        text-indent: 0.3rem;
        margin-left: 4px;
        margin-right: 1rem; }
      .joinBox #join .join_3 p {
        font-size: 0.9rem;
        line-height: 2rem; }
    .joinBox #join .join_4 {
      width: 100%;
      height: 6rem; }
      .joinBox #join .join_4 dt {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.5rem; }
      .joinBox #join .join_4 span {
        display: none; }
      .joinBox #join .join_4 dd {
        width: 100%;
        height: auto; }
      .joinBox #join .join_4 input {
        width: 210px;
        height: 30px;
        border: 1px solid #B6914D;
        float: left;
        box-sizing: border-box;
        text-indent: 0.3rem;
        margin-left: 4px;
        margin-right: 1rem; }
      .joinBox #join .join_4 p {
        font-size: 0.9rem;
        line-height: 2rem; }
    .joinBox #join .join_5 {
      width: 100%;
      height: 6rem; }
      .joinBox #join .join_5 dt {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.5rem; }
        .joinBox #join .join_5 dt span {
          display: none; }
      .joinBox #join .join_5 dd {
        width: 100%;
        height: auto;
        float: left; }
        .joinBox #join .join_5 dd #phonNo {
          width: auto;
          height: 30px;
          border: 1px solid #B6914D;
          box-sizing: border-box;
          margin-left: 4px;
          margin-right: 0.5rem;
          float: left; }
        .joinBox #join .join_5 dd input {
          width: 110px;
          height: 30px;
          border: 1px solid #B6914D;
          box-sizing: border-box;
          text-indent: 0.3rem;
          margin-right: 0.5rem;
          float: left; }
        .joinBox #join .join_5 dd span {
          width: 10px;
          height: 15px;
          border-bottom: 1px solid #333;
          line-height: 30px;
          display: block;
          float: left;
          margin-right: 0.5rem; }
        .joinBox #join .join_5 dd label {
          display: none; }
    .joinBox #join .join_6 {
      width: 100%;
      height: 6rem; }
      .joinBox #join .join_6 dt {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.5rem; }
      .joinBox #join .join_6 span {
        display: none; }
      .joinBox #join .join_6 input {
        width: 210px;
        height: 30px;
        float: left;
        border: 1px solid #B6914D;
        box-sizing: border-box;
        margin-right: 1rem;
        text-indent: 0.3rem;
        margin-left: 4px; }
      .joinBox #join .join_6 p {
        font-size: 0.9rem;
        line-height: 2rem; }
    .joinBox #join .join_7 {
      width: 100%;
      height: 6rem; }
      .joinBox #join .join_7 p {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.5rem; }
      .joinBox #join .join_7 li {
        margin-right: 1.5rem;
        float: left; }
      .joinBox #join .join_7 #Y {
        width: 100%;
        height: 30px;
        margin-left: 4px;
        border: 1px solid #B6914D;
        box-sizing: border-box; }
      .joinBox #join .join_7 #M {
        width: 100%;
        height: 30px;
        border: 1px solid #B6914D;
        box-sizing: border-box; }
      .joinBox #join .join_7 #D {
        width: 100%;
        height: 30px;
        border: 1px solid #B6914D;
        box-sizing: border-box; }
    .joinBox #join .join_8 {
      width: 100%;
      height: 6rem; }
      .joinBox #join .join_8 dt {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.5rem; }
      .joinBox #join .join_8 span {
        display: none; }
      .joinBox #join .join_8 dd {
        margin-left: 4px; }
        .joinBox #join .join_8 dd input {
          margin-right: 0.2rem; }
        .joinBox #join .join_8 dd label {
          font-size: 1rem;
          margin-right: 1rem; }
    .joinBox #join .set02 {
      width: 75%;
      height: 8rem;
      padding-top: 1rem;
      margin-left: 7rem; }
      .joinBox #join .set02 button {
        width: 140px;
        height: 40px;
        cursor: pointer;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
        .joinBox #join .set02 button:nth-of-type(1) {
          background-color: #333;
          float: left;
          margin-left: 130px;
          color: #fff; }
        .joinBox #join .set02 button:nth-of-type(2) {
          border: 1px solid #333;
          box-sizing: border-box;
          background-color: #fff;
          float: right;
          margin-right: 130px; }
        .joinBox #join .set02 button button[type="submit"] {
          /*margin-left:130px;*/ }
        .joinBox #join .set02 button button[type="reset"] {
          /*margin-right:130px;*/ }

/*# sourceMappingURL=subJoin_2.css.map */
