// 4. mob_h_cosecos.scss

@media screen and (min-width:361px) and(max-width:640px){
    #wrap {width: 100%; height: 100%;}
    
        #headBox {width: 100%; height: 60px; margin-bottom: 20px; padding: 16px 16px 0 12px; border-bottom: 1px solid #505050; box-sizing: border-box;
            >.sitemap{display: none;}
            
            >.h_menu{width: 100%; height: 100%;
                
                >h1{/*float: left;*/
                    
                    >a{width: 128px; height: 26px;  background-image: url(../img/index_slice/header/h_logo.gif); background-size: contain; background-repeat: no-repeat; background-position: center; float: left;}
                }// h1
                
                >.nav_2{width: 100%; height: 100%; 
                    i{width: 26px; height: 26px; /*margin-right: 24px;*/ float: right; font-size: 1.7em; text-align: center; cursor: pointer; color: #505050;}
                    li{display: none;}
                }// .nav_2
                >.gnb{display: none;}
                
            }// .h_menu
        }// #headBox
    
        #banner {width: 100%; height: 42.5vw/*153/360*100*/; margin-bottom: 20px; background-image: url(../img/banner_mob.jpg); background-size: cover; background-repeat: no-repeat;}
    
        #content {width: 94.459833vw/*341px/361*100*/; height: 576.731302vw; margin: 0 auto; 
            .new_B {width: 100%; height: 94.459833vw/*341px/361*100*/; border: 1px solid #ccc; box-sizing: border-box;  float: left; margin-bottom: 6px;
                .nBhover {}
                p {}
                
            }
            .new_S {width: 100%; height: auto; float: left;
                .new_S_01 {width: 100%; height: 94.459833vw/*341px/361*100*/; border: 1px solid #ccc; box-sizing: border-box;  margin-bottom: 6px;}
                .nS01hover {
                    p {}
                    
                }
                .new_S_02 {width: 100%; height: 94.459833vw/*341px/361*100*/; border: 1px solid #ccc; box-sizing: border-box; margin-bottom: 6px;}
                .nS02hover {
                    p {}
                    
                }
                .new_S_03 {display: none;}
                .nS03hover {
                    p {}
                    
                }
                .new_S_04 {display: none;}
                .nS04hover {
                    p {}
                    br {}
                }
            }
            .best_S1 {display: none;
                /*.best_S1_01 {width: 100%; height: 600px; border: 1px solid #ccc; box-sizing: border-box; margin-bottom: 6px;}
                .bS1_01hover {
                    p {}
                    
                }
                .best_S1_02 {width: 100%; height: 600px; border: 1px solid #ccc; box-sizing: border-box; margin-bottom: 6px;}
                .bS1_02hover {
                    p {}
                    
                }*/
            }
            .best_B {width: 100%; height: 94.459833vw/*341px/361*100*/; border: 1px solid #ccc; box-sizing: border-box;  float: left; margin-bottom: 6px;
                .bBhover {}
                p {}
                
            }
            .best_S2 {width: 100%; height: auto; float: left;
                .best_S2_01 {width: 100%; height: 94.459833vw/*341px/361*100*/; border: 1px solid #ccc; box-sizing: border-box; margin-bottom: 6px;}
                .bS2_01hover {
                    p {}
                    
                }
                .best_S2_02 {width: 100%; height: 94.459833vw/*341px/361*100*/; border: 1px solid #ccc; box-sizing: border-box;}
                .bS2_02hover {
                    p {}
                    
                }
            }
    
    
    }// #content
    
        #footBox {width: 100%; height: 230px; margin-top: 80px; background-color: #f05;}
    
}// @mob_h