// 1. pc_cosecos.scss

@media screen and (min-width:978px) {
    #wrap {width: 100%; height: 100%;}
    //.nav_2{display: none !important;}
    #headBox {width: 100%; height: 10rem; 
        
        .sitemap{width: 100%; height: 30px; background-color: $black;
            .sitemapBox{width: 978px; height: 100%; margin: 0 auto;
                .nav_1{width: 315px; height: 100%; float: right; padding-top: 2px;

                    li{width: 100%; height: 100%; line-height: 30px;
                     float: left; margin-right: 20px; text-align: center;
                    &:nth-child(1){width: 46px;}
                    &:nth-child(2){width: 34px;}
                    &:nth-child(3){width: 62px;}
                    &:nth-child(4){width: 40px;}
                    &:nth-child(5){width: 18px; margin-right: 0;}

                        a{width: 100%; height: 100%; color: #fff;  font-size: 1em; font-weight: 500; }
                        a:hover {text-decoration: underline;}
                        i{color: #fff; font-size: 1.2em; cursor: pointer;}
                        i:hover {text-decoration: underline;}
                    }// li
                } //.nav_1
            }// .sitemapBox
        } // .sitemap        
        
        .h_menu{width: 100%; height: 100%; 
            >h1{width: 100%; height: 40px; padding: 20px 0;
                
                >a{width: 154px; height: 40px; background-image: url(../img/index_slice/header/h_logo.gif); background-size: contain; background-repeat: no-repeat; background-position: center; margin: 0 auto; display: block;}                
            } // h1        
        
            >.nav_2{display: none;}
            >.gnb{width: 100%; height: 50px; border-top: 1px solid #555; box-sizing: border-box;
                >ul{width: 968px; height: 30px; padding-top: 10px; margin: 0 auto;
                    >li{width: 100%; height: 100%; line-height: 35px; float: left; /*margin-right: 68px;*/ text-align: center;
                    &:nth-child(1){width: 126px;}
                    &:nth-child(2){width: 150px;}
                    &:nth-child(3){width: 164px;}
                    &:nth-child(4){width: 108px;}
                    &:nth-child(5){width: 174px;}
                    &:nth-child(6){width: 120px;}
                    &:nth-child(7){width: 116px; /*margin-right: 0;*/}
                        a{width: 100%; height: 100px; color: #666; font-size: 1.2em; font-weight: 400; text-align: center;}
                        a:hover {text-decoration: underline; font-weight: 500; font-size: 1.3rem;}
                         
                    }// li
                } // ul
            } // .gnb        
        } //.h_menu        
    }// #headBox
    
    #banner {width: 100%; height: 26.380368vw/* 258px/978px*100 */; margin-bottom: 20px; background-image: url(../img/banner_pc.jpg); background-size: cover; background-repeat: no-repeat;}
    
    #content {width: 960px; height: 960px; margin: 0 auto; 
        .new_B {width: 50%; height: 50%; float: left; border: 1px solid #ccc; box-sizing: border-box; background-image: url(../img/new_01_big.PNG); background-size: 65%; background-position: center; background-repeat: no-repeat; position: relative;
            >p{position: absolute;
            &:nth-child(1){left: 35%; top: 15px; font-size: 1.5em; color: #666; font-weight:500;}
            &:nth-child(2){left: 1.7%; top: 91%;}
            }// p
        }// .new_B
        .new_S {width: 50%; height: 50%; float: right;
            .new_S_01 {width: 50%; height: 50%; float: left; background-image: url(../img/new_02.PNG); background-size: 37%; background-position: center; background-repeat: no-repeat; position: relative;
                >p{position: absolute; left: 4%; top: 82%;}
            }// .new_S_01
            .new_S_02 {width: 50%; height: 50%; float: left; background-image: url(../img/new_03.PNG); background-size: 75%; background-position: center; background-repeat: no-repeat; position: relative;
                >p{position: absolute; left: 4%; top: 82%;}                
            }// .new_S_02
            .new_S_03 {width: 50%; height: 50%; float: left; background-image: url(../img/new_04.PNG); background-size: 36%; background-position: center; background-repeat: no-repeat; position: relative;
                >p{position: absolute; left: 4%; top: 82%;}
                
            }
            .new_S_04 {width: 50%; height: 50%; float: left; background-image: url(../img/new_05.PNG); background-size: 26%; background-position: center; background-repeat: no-repeat; position: relative;
                >p{position: absolute; left: 4%; top: 82%;}                
            }
        }// .new_S
        .best_S1 {width: 25%; height: 50%; float: left;
            .best_S1_01 {width: 100%; height: 50%; background-image: url(../img/best_01.PNG); background-size: 82%; background-position: center; background-repeat: no-repeat; position: relative;
                >p{position: absolute; left: 4%; top: 82%;}                
            }
            .best_S1_02 {width: 100%; height: 50%; background-image: url(../img/best_02.PNG); background-size: 64%; background-position: center; background-repeat: no-repeat; position: relative;
                >p{position: absolute; left: 4%; top: 82%;}
            }
        }// .best_S1
        .best_B {width: 50%; height: 50%; border: 1px solid #ccc; box-sizing: border-box; float: left; background-image: url(../img/best_03_big.PNG); background-size: 35%; background-position: 57%; background-position-y: 60%; background-repeat: no-repeat; position: relative;
            >p{position: absolute; 
            &:nth-child(1){left: 35%; top: 15px; font-size: 1.5em; color: #666; font-weight:500;}
            &:nth-child(2){left: 1.7%; top: 91%;}
            }// p
        }// .best_B
        .best_S2 {width: 25%; height: 50%; float: left;
            .best_S2_01 {width: 100%; height: 50%; background-image: url(../img/best_04.PNG); background-size: 44%; background-position: center; background-repeat: no-repeat; position: relative;
                >p{position: absolute; left: 4%; top: 82%;} 
            }
            .best_S2_02 {width: 100%; height: 50%; background-image: url(../img/best_05.PNG); background-size: 64%; background-position: center; background-repeat: no-repeat; position: relative;
                >p{position: absolute; left: 4%; top: 82%;}
            }
        }// .best_S2
    
    }// #content
    
    #footBox {width: 100%; height: 140px; margin-top: 150px; background-color: $black;}   
    
}// @pc